{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
	{% if primary.count > 0 %} 
	<div class="display-2 text-center text-white mt-5">الإبتدائي</div>
<div class="row my-5">
<div class="text-white p-3" style="background:rgba(33, 37, 41, 0.5);" dir="rtl">
			<table class="table table-borderless text-white">
				<colgroup>
    <col width="50%"/>
    <col width="25%"/>
    <col width="25%"/>
  </colgroup>
  <thead>
    <tr style="border:1px solid #dc3545">
      
      <th scope="col">الإسم </th>
      <th scope="col">المعدل</th>
      <th class="text-start"scope="col">المستوى</th>
    </tr>
  </thead>
  <tbody>
  	      {% for obj in primary %}
  		  
    <tr  style="border:1px solid #dc3545" >
      <td class="py-3">{{ obj.full_name }}</td>
      <td class="py-3">{{obj.mark}}</td>
      <td class="text-start text-danger py-3"><strong class="p-2" style="">{{ obj.niveau}}</strong></td>
    </tr>
   
	{% endfor %}
    
  </tbody>
</table>
		</div>
</div>
{% endif %}
	{% if college.count > 0 %}
	<div class="display-2 text-center text-white mt-5">المتوسط</div>
<div class="row my-5">

<div class="text-white p-3" style="background:rgba(33, 37, 41, 0.5);" dir="rtl">
			<table class="table table-borderless text-white">
				<colgroup>
    <col width="50%"/>
    <col width="25%"/>
    <col width="25%"/>
  </colgroup>
  <thead>
    <tr style="border:1px solid #dc3545">
      
      <th scope="col">الإسم </th>
      <th scope="col">العلامة</th>
      <th class="text-start"scope="col">المستوى</th>
    </tr>
  </thead>
  <tbody>
  	      {% for obj in college %}
  		  
    <tr  style="border:1px solid #dc3545" >
      <td class="py-3">{{ obj.full_name }}</td>
      <td class="py-3">{{obj.mark}}</td>
      <td class="text-start text-danger py-3"><strong class="p-2" style="">{{ obj.niveau}}</strong></td>
    </tr>
   
	{% endfor %}
    
  </tbody>
</table>
		</div>
</div>
{% endif %}
	{% if high.count > 0 %}
	<div class="display-2 text-center text-white mt-5">الثانوي</div>
<div class="row my-5">
<div class="text-white p-3" style="background:rgba(33, 37, 41, 0.5);" dir="rtl">
			<table class="table table-borderless text-white">
				<colgroup>
    <col width="50%"/>
    <col width="25%"/>
    <col width="25%"/>
  </colgroup>
  <thead>
    <tr style="border:1px solid #dc3545">
      
      <th scope="col">الإسم </th>
      <th scope="col">العلامة</th>
      <th class="text-start"scope="col">المستوى</th>
    </tr>
  </thead>
  <tbody>
  	      {% for obj in high %}
  		  
    <tr  style="border:1px solid #dc3545" >
      <td class="py-3">{{ obj.full_name }}</td>
      <td class="py-3">{{obj.mark}}</td>
      <td class="text-start text-danger py-3"><strong class="p-2" style="">{{ obj.niveau}}</strong></td>
    </tr>
   
	{% endfor %}
    
  </tbody>
</table>
		</div>
</div>
{% endif %}
</div>

{% endblock %}