{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="row pt-5">
	
	<h1 class="animate-charcter mb-5 text-center" id="text2" style="
    z-index: 3;
">{{ object.name }}</h1>
</div>
<div class="container">
<div class="row">
	
	{% for video in object.videos.all %}
	<div class="col-md-6 my-5">
		 <div class="card shadow-sm">
           <iframe class="embed-responsive-item" src="{{ video.link }}" allowfullscreen></iframe>

            <div class="card-body d-flex justify-content-between">
              <p class="card-text">{{ video.title }}</p>
             
                <small class="text-muted">{{video.created}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
	</div>
	<hr>
<div class="row">
	<div class="col-12"><h2 class="text-center text-white"> attachments </h2></div>
	{% for obj in object.files.all %}
	<div class="col-md-6 my-5">
		<p><span class="badge bg-danger">{{obj.module}}</span> - <a href="{{obj.upload.url}}">{{ obj.name }}</a></p>
	</div>
	{% endfor %}
	</div>
</div>
{% endblock %}