{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="w-100 h-100" style="background-image:url({% static 'img/bg1.jpg' %}) ">
<div class="row pt-5">
	
	<h1 class="animate-charcter mb-5 text-center" id="text2" style="
    z-index: 3;
">{{ object.name }}</h1>
</div>

<div class="row">
	<div class="container p-5">
	{% for video in object.videos.all %}
	<div class="col-md-4">
		 <div class="card shadow-sm">
           <iframe class="embed-responsive-item" src="{{ video.link }}" allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
             
                <small class="text-muted">{{video.created}}</small>
              </div>
            </div>
          </div>
	</div>
	{% endfor %}
</div></div></div>
{% endblock %}