{% load static %}
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
	<title>{% block title %}Ecole Aladin Live{% endblock %}</title>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/main.css' %}" rel="stylesheet" />

</head>
<body class="">
  {% block content %}
  {% endblock content %}

 
{% block js %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}" />

{% endblock js%}
    
 
</body>
</html>