{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center text-white">
<div class="fixed-top">		{% if messages %}
    {% for message in messages %}
    {% if message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
  <strong>{{ message }}</strong> 
</div>
    {% else %}
    <div class="alert alert-primary" role="alert">
  <strong>{{ message }}</strong> 
</div>
    {% endif %}
    {% endfor %}
{% endif %}</div>
<header >
</header>
<!-- <div class="cover-container w-100 h-100 p-3 grid-center">

  <main class="px-3 ">
    <h1 class ="d-none"id="text1"></h1>
    <h1 class="animate-charcter mb-5" id="text2"></h1>
    <p class="text-secondary">due to covid the school has decided to open an online platform for our students who cannot attend so that they do not miss their lessons</p>
    <form method="post">{% csrf_token %} <div class="input-group my-2">
      <input name="code" required id="id_code" type="text" class="form-control" placeholder="insérer Code d'eleve ici" aria-label="" >
      <div class="input-group-append">
       <button class="btn btn-primary" type="submit">joindre</button>
      </div>
    </div></form>
  </main>
  
    </div><hr/> -->
 <section class="container">
    <div class="row my-5">
     <h1 class="ml1">
       <span class="text-wrapper">
         <span class="line line1"></span>
         <span class="letters">VIDEO LIBRARY</span>
         <span class="line line2"></span>
       </span>
     </h1>

     
    </div>
    <div class="row  justify-content-center  ">
      {% for obj in object_list %}
      <div class="col-12 col-md-4 my-3">
      <a href="{{ obj.get_absolute_url }}"class="btn btn-outline-primary btn-lg col-12 p-4 " >{{obj.name}}</a></div>
      {% endfor %}
    </div>
     </section>


</div><hr/>
<footer class="p-5"></footer>
{% endblock content %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 <script type="text/javascript">
  	const elts = {
  	    text1: document.getElementById("text1"),
  	    text2: document.getElementById("text2")
  	};

  	const texts = [
  	    "Bienvenu",
  	    "sur",
  	    "ecole aladin",
  	    "live",
  	];

  	const morphTime = 1;
  	const cooldownTime = 0.25;

  	let textIndex = texts.length - 1;
  	let time = new Date();
  	let morph = 0;
  	let cooldown = cooldownTime;

  	elts.text1.textContent = texts[textIndex % texts.length];
  	elts.text2.textContent = texts[(textIndex + 1) % texts.length];

  	function doMorph() {
  	    morph -= cooldown;
  	    cooldown = 0;

  	    let fraction = morph / morphTime;

  	    if (fraction > 1) {
  	        cooldown = cooldownTime;
  	        fraction = 1;
  	    }

  	    setMorph(fraction);
  	}

  	function setMorph(fraction) {
  	    elts.text2.style.filter = `blur(${Math.min(8 / fraction - 8, 100)}px)`;
  	    elts.text2.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;

  	    fraction = 1 - fraction;
  	    elts.text1.style.filter = `blur(${Math.min(8 / fraction - 8, 100)}px)`;
  	    elts.text1.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;

  	    elts.text1.textContent = texts[textIndex % texts.length];
  	    elts.text2.textContent = texts[(textIndex + 1) % texts.length];
  	}

  	function doCooldown() {
  	    morph = 0;

  	    elts.text2.style.filter = "";
  	    elts.text2.style.opacity = "100%";

  	    elts.text1.style.filter = "";
  	    elts.text1.style.opacity = "0%";
  	}

  	function animate() {
  	    requestAnimationFrame(animate);

  	    let newTime = new Date();
  	    let shouldIncrementIndex = cooldown > 0;
  	    let dt = (newTime - time) / 1000;
  	    time = newTime;

  	    cooldown -= dt;

  	    if (cooldown <= 0) {
  	        if (shouldIncrementIndex) {
  	            textIndex++;
  	        }

  	        doMorph();
  	    } else {
  	        doCooldown();
  	    }
  	}

  	animate();

  </script>
  <script type="text/javascript">
    anime.timeline({loop: true})
      .add({
        targets: '.ml1 .letter',
        scale: [0.3,1],
        opacity: [0,1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 600,
        delay: (el, i) => 70 * (i+1)
      }).add({
        targets: '.ml1 .line',
        scaleX: [0,1],
        opacity: [0.5,1],
        easing: "easeOutExpo",
        duration: 700,
        offset: '-=875',
        delay: (el, i, l) => 80 * (l - i)
      }).add({
        targets: '.ml1',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      });
  </script>
{% endblock js%}